<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Data Analysis of Singapore Rainfall

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

According to the [Meteorological Services Singapore](http://www.weather.gov.sg/climate-climate-of-singapore/#:~:text=Singapore%20is%20situated%20near%20the,month%2Dto%2Dmonth%20variation.), Singapore has typical tropical climate with adundant rainfall, high and uniform temperatures and high humidity all year round, since its situated near the equator. There are many factors that help us understand the climate of a country and in this project we are going to look into a few, especially rainfall.

Singapore’s climate is characterised by two main monsoon seasons separated by inter-monsoonal periods.  The **Northeast Monsoon** occurs from December to early March, and the **Southwest Monsoon** from June to September.

The major weather systems affecting Singapore that can lead to heavy rainfall are:

-Monsoon surges, or strong wind episodes in the Northeast Monsoon flow bringing about major rainfall events;

-Sumatra squalls, an organised line of thunderstorms travelling eastward across Singapore, having developed over the island of Sumatra or Straits of Malacca west of us;

-Afternoon and evening thunderstorms caused by strong surface heating and by the sea breeze circulation that develops in the afternoon.

Singapore’s climate station has been located at several different sites in the past 140 years. The station had been decommissioned at various points in the past due to changes to local land use in the site’s vicinity, and had to be relocated. Since 1984, the climate station has been located at **Changi**.

There are other metrics of climate such as temperature, humidity, sun shine duration, wind speed, cloud cover etc. All the dataset used in the project comes from [data.gov.sg](data.gov.sg), as recorded at the Changi climate station

### Choose your Data

There are 2 datasets included in the [`data`](./data/) folder for this project. These correponds to rainfall information. 

* [`rainfall-monthly-number-of-rain-days.csv`](./data/rainfall-monthly-number-of-rain-days.csv): Monthly number of rain days from 1982 to 2022. A day is considered to have “rained” if the total rainfall for that day is 0.2mm or more.
* [`rainfall-monthly-total.csv`](./data/rainfall-monthly-total.csv): Monthly total rain recorded in mm(millimeters) from 1982 to 2022

Other relevant weather datasets from [data.gov.sg](data.gov.sg) that you can download and use are as follows:

* [Relative Humidity](https://data.gov.sg/dataset/relative-humidity-monthly-mean)
* [Monthly Maximum Daily Rainfall](https://data.gov.sg/dataset/rainfall-monthly-maximum-daily-total)
* [Hourly wet buld temperature](https://data.gov.sg/dataset/wet-bulb-temperature-hourly)
* [Monthly mean sunshine hours](https://data.gov.sg/dataset/sunshine-duration-monthly-mean-daily-duration)
* [Surface Air Temperature](https://data.gov.sg/dataset/surface-air-temperature-mean-daily-minimum)

You can also use other datasets for your analysis, make sure to cite the source when you are using them

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

Rainfall affects daily activities of Singapore population, hence it is worth analysing rainfall data to identify trends

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on how climate change is affecting different industries or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [7]:
def cal_mean(val_lst):
    '''
    Calculates the mean of given input list
    args:
    val_lst (list): numbers to calculate mean
    return:
    (float): mean value of input numbers
    '''
    return float(sum(val_lst)/len(val_lst))

In [10]:
assert cal_mean([5]) == 5
assert cal_mean([1,2,3]) == 2
assert cal_mean([3.3,3.3,3.3,3.3]) == 3.3

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [28]:
def std_dev(x_lst):
    '''
    Calculate the POPULATION standard deviation of numbers
    args:
    x_lst (list): list of int or float to calculate thier standard deviation
    return:
    sig (float): standard deviation of input numbers
    '''
    miu = cal_mean(x_lst)
    n = len(x_lst)
    delta = [((x-miu)**2) for x in x_lst]
    sig = (sum(delta)/n)**(0.5)
    return sig

In [29]:
import statistics
assert std_dev([1,2,3,4,5]) == statistics.pstdev([1,2,3,4,5])

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Import and Cleaning

### Data Import & Cleaning

Import all the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary. Make sure to comment your code to showcase the intent behind the data processing step.
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values and datatype.
3. Check for any obvious issues with the observations.
4. Fix any errors you identified in steps 2-3.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If the month column data is better analyzed as month and year, create new columns for the same
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
    - Since different climate metrics are in month format, you can merge them into one single dataframe for easier analysis
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [113]:
# Read and display the data for number of rainy days
rainy_days_df = pd.read_csv('../data/rainfall-monthly-number-of-rain-days.csv')
rainy_days_df.head()

     month  no_of_rainy_days
0  1982-01                10
1  1982-02                 5
2  1982-03                11
3  1982-04                14
4  1982-05                10

In [114]:
# Check for null values
rainy_days_df.isnull().sum()

month               0
no_of_rainy_days    0
dtype: int64

In [115]:
# Check for anomalies
# Check for simple stats figure
display(rainy_days_df.describe())
# Check for data types
rainy_days_df.info()

       no_of_rainy_days
count        488.000000
mean          14.061475
std            4.947394
min            1.000000
25%           11.000000
50%           14.000000
75%           18.000000
max           27.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   month             488 non-null    object
 1   no_of_rainy_days  488 non-null    int64
dtypes: int64(1), object(1)
memory usage: 7.8+ KB

In [116]:
# Change to datetime
# rainy_days_df['month'] = pd.to_datetime(rainy_days_df['month'])
# rainy_days_df['year'] = pd.DatetimeIndex(rainy_days_df['month']).year
# rainy_days_df['month'] = pd.DatetimeIndex(rainy_days_df['month']).month
# rainy_days_df = rainy_days_df[['year', 'month', 'no_of_rainy_days']]
display(rainy_days_df.head())
display(rainy_days_df.describe())
rainy_days_df.info()

     month  no_of_rainy_days
0  1982-01                10
1  1982-02                 5
2  1982-03                11
3  1982-04                14
4  1982-05                10

       no_of_rainy_days
count        488.000000
mean          14.061475
std            4.947394
min            1.000000
25%           11.000000
50%           14.000000
75%           18.000000
max           27.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   month             488 non-null    object
 1   no_of_rainy_days  488 non-null    int64
dtypes: int64(1), object(1)
memory usage: 7.8+ KB

In [117]:
# Create a master data frame to compile the information
# The master data frame is named weather_n_pv_df
weather_n_pv_df = rainy_days_df

In [118]:
# Process the rainfall-monthly-total.csv data
rainfall_total_df = pd.read_csv('../data/rainfall-monthly-total.csv')
display(rainfall_total_df.head())
display(rainfall_total_df.info())

     month  total_rainfall
0  1982-01           107.1
1  1982-02            27.8
2  1982-03           160.8
3  1982-04           157.0
4  1982-05           102.2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           488 non-null    object
 1   total_rainfall  488 non-null    float64
dtypes: float64(1), object(1)
memory usage: 7.8+ KB

None

In [119]:
# rainfall_total_df['month'] = pd.to_datetime(rainfall_total_df['month'])
# rainfall_total_df['year'] = pd.DatetimeIndex(rainfall_total_df['month']).year
# rainfall_total_df['month'] = pd.DatetimeIndex(rainfall_total_df['month']).month
# rainfall_total_df = rainfall_total_df[['year', 'month', 'total_rainfall']]
display(rainfall_total_df.describe())
rainfall_total_df.info()

       total_rainfall
count      488.000000
mean       177.163730
std        113.916029
min          0.200000
25%         93.850000
50%        159.450000
75%        238.075000
max        765.900000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   month           488 non-null    object
 1   total_rainfall  488 non-null    float64
dtypes: float64(1), object(1)
memory usage: 7.8+ KB

In [120]:
# weather_n_pv_df = weather_n_pv_df.merge(rainfall_total_df)
# weather_n_pv_df.head()

In [121]:
# Process the sunshin-monthly-mean.csv data
sunshine_df = pd.read_csv('../data/sunshine-monthly-mean.csv')
# sunshine_df['month'] = pd.to_datetime(sunshine_df['month'])
display(sunshine_df.head())
display(sunshine_df.info())

     month  mean_sunshine_hrs
0  1982-01                5.6
1  1982-02                7.6
2  1982-03                5.1
3  1982-04                4.7
4  1982-05                5.8

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   month              490 non-null    object
 1   mean_sunshine_hrs  490 non-null    float64
dtypes: float64(1), object(1)
memory usage: 7.8+ KB

None

* observation: The total data entry for sunshine is 490, while rainfall is only 488?
---
Why is that so? The most likely reason is that the given datasets are outdated.
To confirm this theory, look compare the datasets.

In [122]:
sunshine_df.tail(4)

       month  mean_sunshine_hrs
486  2022-07                6.2
487  2022-08                5.5
488  2022-09                3.8
489  2022-10                3.5

In [123]:
display(rainfall_total_df.tail(2))
display(rainy_days_df.tail(2))

       month  total_rainfall
486  2022-07           145.2
487  2022-08           141.4

       month  no_of_rainy_days
486  2022-07                16
487  2022-08                15

---
`sunshine_df` included information for Sep 22 and Oct 22, while `rainfall_total_df` and `rainy_days_df` doesn't.  
This shows that additional information is not added to the 2 data sets. Manual addition can be done.
Viewing from [data.gov.sg](https://data.gov.sg/) the following results are observed.

<img src='../img/rain_amt.png' alt="Screen shot of total rain ammount for Sep and Oct 2022">

<img src='../img/rain_days.png' alt="Screen shot of number of rain days for Sep and Oct 2022">

In [124]:
extra_rainfall = {"month" : ['2022-09', '2022-10'], "total_rainfall": [121, 280]}
extra_rainfall = pd.DataFrame(extra_rainfall)
rainfall_total_df = pd.concat([rainfall_total_df, extra_rainfall], ignore_index = True)
rainfall_total_df.tail()

       month  total_rainfall
485  2022-06           211.8
486  2022-07           145.2
487  2022-08           141.4
488  2022-09           121.0
489  2022-10           280.0

In [125]:
extra_rainfall = {"month" : ['2022-09', '2022-10'], "no_of_rainy_days": [14, 27]}
extra_rainfall = pd.DataFrame(extra_rainfall)
rainy_days_df = pd.concat([rainy_days_df, extra_rainfall], ignore_index = True)
rainy_days_df.tail()

       month  no_of_rainy_days
485  2022-06                17
486  2022-07                16
487  2022-08                15
488  2022-09                14
489  2022-10                27

In [127]:
rainfall_total_df['month'] = pd.to_datetime(rainfall_total_df['month'])
rainfall_total_df

         month  total_rainfall
0   1982-01-01           107.1
1   1982-02-01            27.8
2   1982-03-01           160.8
3   1982-04-01           157.0
4   1982-05-01           102.2
..         ...             ...
485 2022-06-01           211.8
486 2022-07-01           145.2
487 2022-08-01           141.4
488 2022-09-01           121.0
489 2022-10-01           280.0

[490 rows x 2 columns]

In [ ]:
sunshine_df['month'] = pd.to_datetime(sunshine_df['month'])
# sunshine_df['year'] = pd.DatetimeIndex(sunshine_df['month']).year
# sunshine_df['month'] = pd.DatetimeIndex(sunshine_df['month']).month
# sunshine_df_df = sunshine_df_df[['year', 'month', 'total_rainfall']]
display(sunshine_df.describe())
sunshine_df.info()

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|total_rainfall|float|rainfall-monthly-total|Total rainfall in mm|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'rainfall-monthly-total': xxx, 'no_of_rainy_days': xxx, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which month have the highest and lowest total rainfall in 1990, 2000, 2010 and 2020?
        - Which year have the highest and lowest total rainfall in the date range of analysis?
        - Which month have the highest and lowest number of rainy days in 1990, 2000, 2010 and 2020?
        - Which year have the highest and lowest number of rainy days in the date range of analysis?
        - Are there any outliers months in the dataset?
       
    - **The above 5 questions are compulsory. Feel free to explore other trends based on the datasets that you have choosen for analysis. You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

Some ideas for plots that can be generated:

- Plot the histogram of the rainfall data with various bins and comment on the distribution of the data - is it centered, skewed?
- Plot the box-and-whiskers plot. Comment on the different quartiles and identify any outliers in the dataset. 
- Is there a correlation between the number of rainy days and total rainfall in the month? What kind of correlation do your suspect? Does the graph show the same?

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!